@media (min-width: 64em) {
    header {
        background-color: rgb(120, 8, 116);
        color: white;
    }

    footer {
        background-color: rgb(120, 8, 116);
        color: white;
    }

    body {
        text-align: center;
        font-size: 32px;
    }
}