@media (min-width: 32.5em) {
	header {
        background-color: rgb(255, 0, 238);
        color: navy;
        columns: 2;
    }

    body {
        text-align: left;
        font-size: 24px;
    }

    footer {
        background-color: rgb(255, 0, 238);
        color: navy;
    }
}