/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/

    
    /*----------- MAIN --------------*/
    main.index {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main.index h1 {
        grid-column: 1;
    }
    
    main.index h2{
        grid-row: 2 / 3;
    }

    div.gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main div.call {
        grid-column: 1 / 3;
    }

    main div.news {
        grid-column: 1 / 3;
    }

    main div.spotlight {
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-evenly;
    }

    main div.join {
        display: block;
        grid-column: 1 / 3;
        grid-row: 5;
    }

    main div.event {
        grid-column: 1 / 2;
        grid-row: 6;
    }

    main div.weather {
        grid-column: 2 / 3;
        grid-row: 6;
    }
    
    /*----------- FOOTER --------------*/
        
    } /* end of media query */